body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #cccccc !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.timer-container {
  display: flex;
  letter-spacing: 2px;
}
.timer-container p {
  font-size: 3rem;
  margin: 0;
}
.timer-container span {
  position: relative;
  font-size: 2rem;
  top: 10px;
}
